<h1>Jams - An application for all your music needs!</h1>
<h2>Welcome to the Sinatra Template!</h2>
<h3><img src="/images/xiao_la_ji.gif" alt=""></h3>
<% @artists.each do |artist|  %>
<li>  <a href="/artists/<%= artist.id %>"><%= artist.name  %></a>:
  <%= artist.age  %>
</li>
<% end %>
